body {
    background-color: #efefef;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar a {
    background-color: #efefef;
    color: #1b5a39;
}

.navbarnavbar-toggler {
    background-color: 1b5a39;
}

.jumbotron {
    background-color: #bec9c6;
}